<script src="/js/autocomplete.js" type="text/javascript"></script>
<script src="/libraries/maps/legend.js" type="text/javascript"></script>
<script src="/js/stations_map_mapbox.js" type="text/javascript"></script>