---
permalink: "statistics.html"
---
<!DOCTYPE html>
<html lang="{{ locale }}">

<head>
    <title>{{ 'statistics.menu_item' | i18n | makeHeadTitle }}</title>
    {% include 'head.njk' %}
</head>

<body>
    {% include 'statistics.njk' %}
</body>

</html>