---
permalink: "trains.html"
---
<!DOCTYPE html>
<html lang="{{ locale }}">

<head>
    <title>{{ 'trains.menu_item' | i18n | makeHeadTitle }}</title>
    {% include 'head.njk' %}
</head>

<body>
    {% include 'trains.njk' %}
</body>

</html>