{% include 'template/header.njk' %}
<!-- CONTENT -->
<div class="uk-container uk-container-small uk-margin-large uk-text-lead uk-text-justify ot-about-page">
    <h1>{{ "about.title" | i18n }}</h1>
    {{ "about.description" | i18n | safe}}
</div>