<meta charset="UTF-8">
<link rel="icon" type="image/x-icon" href="/media/logo/favicon.png">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<!-- UIkit CSS -->
<link rel="stylesheet" href="/libraries/ui/uikit/theme.css" />

<!-- UIkit JS -->
<script src="/libraries/ui/uikit/theme.js"></script>
{# <script src="https://cdn.jsdelivr.net/npm/uikit@3.16.15/dist/js/uikit-icons.min.js"></script> #}
<script src="/libraries/ui/uikit/uikit-icons.min.js"></script>


<!-- D3.js -->
{# <script src="https://d3js.org/d3.v7.min.js"></script> #}
<script src="/libraries/ui/d3.v7.min.js"></script>

<!-- JQuery -->
{# <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script> #}
<script src="/libraries/ui/jquery-3.7.0.min.js"></script>

<!-- Mapbox -->
<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>

<!-- Custom CSS -->
<link rel="stylesheet" href="/libraries/ui/style.css">
