{% include 'template/header.njk' %}
<!-- CONTENT -->
<div id="map">

    <!-- Create an overlay on the map that is 200px width and 80% height -->
    <div class="uk-position-center-left home-overlay-form-container" style="z-index:5000">
        <div class="uk-card uk-card-default uk-card-body" style="width:450px; height: 100%">
            <h1 class="uk-card-title" style="font-size: 220%;">{{ "homepage.box_title" | i18n }}</h1>
            <p style="font-size: 120%;">{{ "homepage.box_content" | i18n | safe }}</p>

            <h3 class="uk-card-title">{{"homepage.filters.label" | i18n}}</h3>
            <div uk-grid class="uk-grid-divider">
                <div>
                    <span style="font-size: 120%;">{{"homepage.filters.weekday" | i18n}}</span>
                    <div class="uk-margin-small">
                        <div class="uk-form-controls">
                            <select class="uk-select" id="form-horizontal-select-day"
                                style="font-size: 110%; background: #f9f9f9">
                                <option style="font-size: 120%;">All days</option>
                                <option style="font-size: 120%;">Monday</option>
                                <option style="font-size: 120%;">Tuesday</option>
                                <option style="font-size: 120%;">Wednesday</option>
                                <option style="font-size: 120%;">Thursday</option>
                                <option style="font-size: 120%;">Friday</option>
                                <option style="font-size: 120%;">Saturday</option>
                                <option style="font-size: 120%;">Sunday</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div>
                    <span style="font-size: 120%;">{{"homepage.filters.train_type" | i18n}}</span>
                    <div class="uk-margin-small">
                        <div class="uk-form-controls">
                            <select class="uk-select" id="form-horizontal-select-trainType"
                                style="font-size: 110%; background: #f9f9f9">
                                <option style="font-size: 120%;">All trains</option>
                                <option style="font-size: 120%;">Regional</option>
                                <option style="font-size: 120%;">EuroCity</option>
                                <option style="font-size: 120%;">InterCity</option>
                                <option style="font-size: 120%;">FrecciaRossa</option>
                                <option style="font-size: 120%;">FrecciaBianca</option>
                                <option style="font-size: 120%;">FrecciaArgento</option>
                            </select>
                        </div>
                    </div>
                </div>


            </div>
            <h4>{{ "homepage.filters.search_label" | i18n }}</h4>
            <div>
                <form class="uk-search uk-search-default uk-width-medium uk-margin-large " id="search-station"
                    style="background: #f9f9f9">
                    <button class="uk-search-toggle" uk-search-icon id="searchButton"></button>
                    <input class="uk-search-input" type="search" placeholder="{{ "global.search_box" | i18n }}" id="searchBox"
                        style="font-size: 120%;">
                </form>
                <div uk-dropdown="pos: bottom-center" id="stations_dropdown">
                    <ul class="uk-nav uk-dropdown-nav uk-width-large">
                        <table class="uk-table uk-table-small uk-table-hover">
                            <tbody id="stations_dropdown_content">
                            </tbody>
                        </table>
                    </ul>
                </div>
            </div>
        </div>

    </div>


    <div class="map-overlay uk-position-center-right" style="width: 150px; z-index:1000; margin-right: 1%">
        <div class="map-overlay-inner" id="legend"></div>
    </div>
</div>


<script src="/js/autocomplete.js" type="text/javascript"></script>
<script src="/libraries/maps/legend.js" type="text/javascript"></script>
<script src="/js/stations_map_mapbox.js" type="text/javascript"></script>