---
permalink: "en/index.html"
---
<!DOCTYPE html>
<html lang="{{ locale }}">

<head>
    <title>{{ 'homepage.homepage_head_title' | i18n }}</title>
    {% include 'head.njk' %}
</head>

<body>
    {% include 'homepage.njk' %}
</body>

</html>